<div class="container">
    <div class="row">
        <div class="col-md-12 col-centered">
            <h3>{{ actionTxt }} Post</h3>
            <p>
                <a class="go-back" (click)='backToPosts()'>
                    <span class="fas fa-angle-left"></span> Back
                </a>
            </p>
            <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input formControlName="title" [ngClass]="{'is-invalid': title.touched && title.invalid }"
                        class="form-control" id="title" type="title" name="title">
                    <div *ngIf="title.touched && title.invalid" class="invalid-feedback">
                        <div *ngIf="title.errors.required">Title is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="body">Body</label>
                    <textarea rows="4" formControlName="body"
                        [ngClass]="{'is-invalid': body.touched && body.invalid }" class="form-control" id="body"
                        type="body" name="body"></textarea>
                    <div *ngIf="body.touched && body.invalid" class="invalid-feedback">
                        <div *ngIf="body.errors.required">Body is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="user">User</label>
                    <select class="form-control" [ngClass]="{'is-invalid': user.touched && user.invalid }" id="user"
                        type="user" name="user" formControlName="user">
                        <option value="" class="option-hidden">Select option</option>
                        <option *ngFor="let user of users;" [value]="user.id">
                            {{ user.username }}</option>
                    </select>
                    <div *ngIf="user.touched && user.invalid" class="invalid-feedback">
                        <div *ngIf="user.errors.required">User is required</div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">{{ actionTxt }}</button>
            </form>
        </div>
    </div>
</div>